---
import { ICP_INFO, BEIAN_INFO } from "../lib/constants";
import { formatDate } from "../lib/utils";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts", ({ data }) => !data.draft);
const hotPosts = allPosts
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);
---

<div class="lyear-bottombar">
  <!-- <aside class="widget widget-hot-posts">
      <div class="widget-title">热门文章</div>
      <ul>
        {hotPosts.map((post) => (
          <li>
            <a href={`/posts/${post.id}`}>{post.data.title}</a>
            <span>{formatDate(post.data.date)}</span>
          </li>
        ))}
      </ul>
    </aside> -->

  <aside class="widget widget-tag-cloud">
    <div class="widget-title">备案信息</div>
    <ul class="icp-list">
      <li>
        <img src="/images/ba.png" alt="备案" />
        <a href={ICP_INFO.url} target="_blank" rel="noopener">
          {ICP_INFO.name}
        </a>
      </li>
      <li>
        <a href={BEIAN_INFO.url} target="_blank" rel="noopener">
          {BEIAN_INFO.name}
        </a>
      </li>
    </ul>
  </aside>
</div>
