---
interface Props {
  currentPage: number;
  totalPages: number;
  baseUrl: string;
}

const { currentPage, totalPages, baseUrl } = Astro.props;

function buildUrl(page: number): string {
  if (baseUrl.includes("?")) {
    return `${baseUrl}&page=${page}`;
  }
  return `${baseUrl}?page=${page}`;
}
---

{
  totalPages > 1 && (
    <div class="row">
      <ul class="pagination">
        <li class="page-item page-link">共 {totalPages} 页</li>

        {currentPage > 1 && (
          <li class="page-item">
            <a class="page-link" href={buildUrl(1)}>
              首页
            </a>
          </li>
        )}

        {Array.from({ length: totalPages }, (_, i) => i + 1).map((page) => (
          <li class={`page-item ${page === currentPage ? "active" : ""}`}>
            <a class="page-link" href={buildUrl(page)}>
              {page}
            </a>
          </li>
        ))}

        {currentPage < totalPages && (
          <li class="page-item">
            <a class="page-link" href={buildUrl(totalPages)}>
              尾页
            </a>
          </li>
        )}
      </ul>
    </div>
  )
}
